.main-content

  .main-content_header
    .main-content_header-group
      .main-content_header-group-name グループ
      %a.main-content_header-group-edit-btn  edit
    .main-content_header-members  MEMBER: takumi

  .main-content_body
    .main-content_body_list
      .main-content_body_list-message
        .main-content_body_list-message-name takumi
        .main-content_body_list-message-time  19/1/5
        .main-content_body_list-message-text  text
      .main-content_body_list-message
        .main-content_body_list-message-name takumi
        .main-content_body_list-message-time  19/1/5
        .main-content_body_list-message-text  text

  .main-content_footer
    .main-content_footer_body
      .main-content_footer_body_message  type a message
      %i.far.fa-image
      .main-content_footer_body_submit-btn  send
