.main-content_body_list-message
  .main-content_body_list-message-name
    = message.user.name
  .main-content_body_list-message-time
    =simple_format(message.created_at.to_s)
  .main-content_body_list-message-text
    - if message.content.present?
      %p= message.content
    = image_tag message.image.url if message.image.present?
