.side-content

  .side-content_user
    .side-content_user-content
      .side-content_user-content-name  takumi
      / %i.fas.fa-edit
      = link_to do
        = fa_icon 'edit'
        / %i.fas.fa-cog
      = link_to edit_user_path(current_user) do
        = fa_icon 'cog'

  .side-content_group
    .side-content_group-list
      .side-content_group-list-name  グループ1
      .side-content_group-list-message  メッセージ


    .side-content_group-list
      .side-content_group-list-name  グループ2
      .side-content_group-list-message  メッセージ
